body{
    width: 0 auto;
}

header{
    display: flex;
    flex-direction: column;
    background-color: #ffff;
    border-bottom: 2px solid black;
    border-radius: 15px;
    height: 200px;
}

.header{
    height: 190px;
    display: flex;
    flex-direction: row;
}

.head-left{
    display: flex;
}

.head-left img{
    position: absolute;
    left: 20px;
    top: 20px;
    height: 150px;
    width: 100px;
}

.head-left>.title{
    position: absolute;
    left: 200px;
    top: 15px;
    margin-top: 50px;
    font-size: 25px;
    color: rgb(230, 6, 6);
}

.center-title{
    display: flex;
    margin-left: 40px;
}

.center-title>.title{
    position: absolute;
    left: 400px;
    top: 20px;
    text-align: center;
    font-size: 25px;
    color: blue;
}

.center-title>.small{
    font-size: 15px;
}

.head-right{
    position: absolute;
    top: 1px;
    right: 20px;
    
}

.head-right>img{
    width: 600px;
    height: 130px;
}

.navbar{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffff;
}
.navbar ul{
    display: flex;
    list-style: none;
    font-size: 20px;
}
.navbar ul li{
    text-decoration: none;
    margin: 0 15px;
}
.navbar ul li a{
    height: 5px;
    width: 5px;
    border-radius: 5px;
    box-shadow: 5px 5px  rgba(0, 0, 0, 0.2);
    border: 0px solid #ffff;
    background-color: rgb(9, 9, 233);
    text-decoration: none;
    color: rgb(0, 0, 0);
    transition: 1s ease-in-out;
    padding: 5px;
}

.navbar ul li a:hover{
    color: white;
    background-color: black;
    transform: translatex(7);   
}


main{
    margin: 0;
    padding: 0;
    display: flex;
    font-family: Arial, sans-serif;
}

.left{
    width: 20vw;
    text-align: center;
}

.left-sec img{
    height: 150px;
    width: 200px;
    border-radius: 5px;
}

.right{
    width: 20vw;
    text-align: center;
}

.right-sec img{
    height: 150px;
    width: 200px;
    border-radius: 5px;
}



footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #a0d709;
    border-top: 2px solid black;
    border-radius: 15px;
}

footer>figcaption{
    margin: 5px 0;
    font-size: 20px;
    color: rgba(40, 6, 80, 0.9);
    text-decoration: underline;
}

.scroll-image>img{
    height: 100px;
    width: 120px;
}