.center{
    height: 90vh;
    width: 60vw;
    overflow-y: scroll;
}

.center>h2{
    color: rgb(3, 3, 97);
}

.container{
    display: flex;
    text-align: justify;
    color: blue;
}

.container figcaption{
    text-align: center;
}

.container img{
    height: 200px;
    width: 150px;
}